<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harry Potter</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" type="image/png" href="../images/faviconHP.png" />
  </head>
  <body>
    <section class="students-section">
      <div class="container item-container">
        <h1 class="section-title">Співробітники Гоґвортсу</h1>
        <div id="characters-container"></div>
      </div>
    </section>
    <script src="../scripts/api.js" data-category="staff"></script>
  </body>
</html>
